{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>About page</h1>
        <img src="http://placekitten.com/g/850/300" class="img-fluid" alt="Responsive image">
        <div>
            <br>
            <br>
            <div class="alert alert-warning" role="alert">
                A simple warning alert—check it out!
            </div>
        </div>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
{% endblock %}