{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('build/static.js') }}"></script>
{% endblock %}

{% block body %}
    <div>
        <h1>Index page</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
{% endblock %}