<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Static{% endblock %}</title>
    <link rel="manifest" href="/manifest.json">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ShoppingTactic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('static_index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('static_about') }}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('main') }}">App</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main class="container">
    <br>
    <br>
    <section class="body">
        {% block body %}{% endblock %}
    </section>
    <br>
    <br>
</main>

<footer style="background: #343a40">
    <div class="container" style="color: white">
        Footer
    </div>
</footer>
</body>
<script>
    const PATH = '/sw.js';

    let isServiceWorkersSupport = ('serviceWorker' in navigator);

    if (isServiceWorkersSupport) {
        console.log('Will service worker register?');
        navigator.serviceWorker.register(PATH).then(function () {
            console.log("Yes it did.");
        }).catch(function (err) {
            console.log("No it didn't. This happened: ", err)
        });
    }
</script>
{% block javascripts %}{% endblock %}
</html>
